#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;*/
  place-items: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
}

/* For horizontal alignment:

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section img {
  max-width: 320px;
  height: auto;
}
*/



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
